<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="Час обновления" value="15"/>
    <add key="Access token" value="secret_AX8S65yv61e8VYGkYtzuJqHCe3xMhfSZ"/>
    <add key="Store ID" value="12857289"/>
    <add key="USD_ID" value="29210746"/>
    <add key="EUR_ID" value="29210747"/>
  </appSettings>
</configuration>